.home__page {
  width: 80%;
  margin: 50px auto;
}

.clinic__container {
  display: flex;
  flex-wrap: wrap;
}

.clinic {
  width: 300px;
  margin: 0 10px 20px 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.details__descriptions {
  font-size: smaller;
}

.tel {
  word-wrap: break-word;
}
.clinic:hover {
  background-color: #1d4354;
  color: #fff;
  cursor: pointer;
}

.clinic:hover h6 {
  color: #fff;
}

.clinic h6 {
  color: #10b301;
  font-size: 1.2em;
}

.clinic img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.clinic .clinic__link {
  flex: 1;
  padding: 10px;
  margin: 0 10px 10px 0;
}

.clinic__link:hover {
  text-decoration: none;
}

.clinic_links .visit {
  border: #10b301 1px solid;
  color: #10b301;
}

.details__descriptions div {
  font-weight: 500;
}
.clinic_links .message {
  background-color: #10b301;
  color: #fff;
  border-radius: 0 !important;
}

.clinic_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
