.messages__container {
  width: 95%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  height: 80vh;
  border: 2px solid #e3e3e3;
}

.sidebar {
  width: 25%;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
}
.sidebar__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar__search {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
  border: 1px solid;
  border-radius: 20px;
  padding: 2px;
}

.sidebar__search .fa {
  margin-left: 20px;
}
.sidebar__search > input {
  border: none;
  margin-left: 5px;
  flex: 1;
}

.sidebar__chats {
  flex: 1;
  overflow-y: scroll;
  margin-top: 30px;
}

.sidebar__chats::-webkit-scrollbar {
  display: none;
}

.sidebar__chats .chat {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  border-bottom: 1px solid #fff;
  padding: 10px;
  color: #444;
}

.sidebar__chats .chat:hover {
  background-color: #1d4354;
  color: #fff !important;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.content .content__top {
  display: flex;
  justify-content: space-between;
}

.sidebar__chats .chat:hover h6,
.sidebar__chats .chat:hover p,
.sidebar__chats .chat:hover .time {
  color: #fff;
}

.content .content__top h6 {
  flex: 1;
  font-weight: 500;
}

.content .content__top .time {
  font-size: small;
}
.initial__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1d4354;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 2em;
  border: 1px solid white;
  text-transform: capitalize;
}

.img__avatar {
  object-fit: cover !important;
  width: 60px !important;
  height: 60px;
  border-radius: 50%;
}

.chat__container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.chat__container .chat__header {
  display: flex;
  /* align-items: center; */
  /* background-color: #e3e3e3; */
  padding: 5px 10px;
}
.chat__container .chat__header .username {
  margin-left: 10px;
  flex: 1;
}

.chat__container .chat__header .username p {
  font-size: small;
}

.chat__messages {
  padding: 20px;
  width: 100% !important;
  flex: 1;
  background-color: #e3e3e3;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.message {
  width: fit-content;
  max-width: 300px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.message p {
  word-wrap: break-word;
  font-size: medium;
}

.message .time {
  margin-right: 0;
  /* margin-left: auto; */
  align-self: flex-end;
  font-size: small;
}

.send__message {
  align-self: flex-end !important;
  float: right !important;
  background-color: #1d4354;
  color: #fff;
  display: block !important;
}

.chat__sendForm {
  border: 1px solid #e3e3e3;
  display: flex;
  margin: 10px;
  align-items: stretch;
  border-radius: 10px;
}
.chat__sendForm input {
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  flex: 1;
}

.default-view {
  background-color: #1d4354;
  color: #fff;
  display: grid;
  place-items: center;
}
