body {
  background-color: #f1f2f4 !important;
}

.app__container {
  min-height: 70vh;
}

.primary-btn {
  background-color: #10b301 !important;
  color: #fff !important;
  border: none !important;
}

.primary-btn:hover {
  background-color: #0f5508 !important;
}
